body {
  font-family: serif;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

nav .dropdown-menu {
  border-radius: 0;
  width: 40vw;
}
.sidebar {
  height: 100vh;
  background-color: #1a1f37;
  color: #dedede;
  padding: 3% 1% 3% 3%;
}
.offcanvas {
  background-color: #1a1f37;
  margin-top: 65px !important;
  color: #dedede;
  max-width: 200px;
}
.sidemenu a {
  text-decoration: unset;
  color: inherit;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: #6a6a6d solid 1px;

  display: block;
  /* width: 100%; */
}
a:hover {
  border-bottom: #000dff solid 1px;
}
