{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap css CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'base.css' %}" />

    <title>Rumi {%block title %} {%endblock title%}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <div class="navbar-brand">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            Rumi Press
          </div>

          <div class="navbar-brand dropdown me-3">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><i class="fa-solid fa-user pe-1"></i>
              <p class="d-none d-sm-inline">{{request.user}}</p>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Change password</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
              <li><a class="dropdown-item" href="#">Theme</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="row">
      <aside class="d-none d-lg-block col-lg-2 sidebar">
        {%include 'sidemenu.html'%}
      </aside>
      <aside class="col-12 col-lg-10 mainContent">
        {% block mainContent%}hhh {% endblock mainContent%}
      </aside>
    </main>
    <footer class="footer"></footer>
    <!-- ================================================================================================================================== -->
    <div
      class="offcanvas offcanvas-start mt-5"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">{%include 'sidemenu.html'%}</div>
    </div>

    <!-- bootstrap js  CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!-- font-awesome CDN kit   -->
    <script
      src="https://kit.fontawesome.com/9476511420.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
