{%extends 'base.html'%}
<hr />
{% block title%} | Books {% endblock title%}
<hr />
{% block mainContent%}

<form method="get">
  {{ bookFilter.form.as_p }}
  <input type="submit" value="Filter" />
</form>
{% for obj in filter.qs %} {{ obj.name }} - ${{ obj.price }}<br />
{% endfor %}

<div class="mainContent_mainView">
  <table class="table table-striped table-responsive">
    <thead class="position-sticky top-0">
      <tr>
        <th>#</th>
        <th>Id</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Published_date</th>
        <th>Category</th>

        <th title="distribution expense ">Expense</th>

        <th colspan="4">
          <a
            class="btn btn-outline-primary rounded-0 p-1"
            href="{%url 'add_book'%}"
          >
            <i class="fa-solid fa-file-circle-plus px-1"></i>Add Books
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {%for book in books%}
      <tr>
        <td>{{forloop.counter|add:page_offset}}</td>
        <td>{{book.idNumber}}</td>
        <td>{{book.title}}</td>
        <td>{{book.subtitle}}</td>
        <td>{{book.author}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.published_date}}</td>
        <td>{{book.category.type_name}}</td>
        <td>{{book.distribution_expense}}</td>

        <td colspan="2">
          <a href="{%url 'editBook' book.id %}">
            <i class="fa-solid fa-pencil px-3"></i>
          </a>
        </td>
        <td>
          <a href="{%url 'deleteBook' book.id %}">
            <i class="fa-solid fa-trash px-3"></i>
          </a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

<!-- paginator  -->
<nav aria-label="Page  navigation  ">
  <ul class="pagination justify-content-end">
    {% if books.has_previous %}
    <li class="page-item">
      <a
        href="?{{ request.GET.urlencode }}&page={{  books.previous_page_number }}"
        class="page-link"
        >Previous</a
      >
    </li>
    <!-- first page -->
    <li class="page-item">
      <a href="?{{ request.GET.urlencode }}&page=1 " class="page-link">1</a>
    </li>
    <!-- page list separeter -->
    <li class="page-item">
      <a href="#" class="page-link disabled">...</a>
    </li>

    {% endif %} {% for i in books.paginator.page_range %}
    <!--  -->
    {% if books.number == i%}
    <li class="page-item acvive">
      <a class="page-link active" href="#">{{i}}</a>
    </li>
    {%elif books.number == i|add:"1" %}
    <li class="page-item">
      <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ i }}"
        >{{i}}</a
      >
    </li>

    {%elif books.number == i|add:"-1" %}
    <li class="page-item">
      <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ i }}"
        >{{i}}</a
      >
    </li>

    {% endif %} {% endfor %} {% if books.has_next %}
    <!-- page list separeter  -->
    <li class="page-item">
      <a href="#" class="page-link disabled">...</a>
    </li>
    <!--  last page  -->
    <li class="page-item">
      <a href="?page={{  books.paginator.num_pages }}" class="page-link"
        >{{ books.paginator.num_pages }}</a
      >
    </li>
    <li class="page-item">
      <a
        href="?{{ request.GET.urlencode }}&page={{ books.next_page_number }}"
        class="page-link"
        >Next</a
      >
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock mainContent%}
