{%extends 'base.html'%}
<hr />
{% block title%} | Dashboard {% endblock title%}
<hr />
{% block mainContent%}

  <div class="m-3 card bg-success text-light" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <p>Total Espense</p>
    </div>
  </div>
  <div class="m-3 card bg-success text-light" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <p>Total Espense</p>
    </div>
  </div>
  <div class="m-3 card bg-success text-light" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <p>Total Espense</p>
    </div>
  </div>
  {% endblock mainContent%}
