<!-- number of book by catagory ,expense by catagory  -->
<div class="sidemenu">
  <a href=""><i class="fa-solid fa-qrcode pe-2"></i>Dashboard </a>
  <a href=""><i class="fa-solid fa-swatchbook pe-2"></i>Book Management </a>
  <a href=""><i class="fa-solid fa-users pe-2"></i>User Management </a>
  <a href=""><i class="fa-solid fa-chart-line pe-2"></i>Expense Report </a>
  <a class="position-absolute bottom-0 left-0 p-2" href="/admin"
    ><i
    class="fa-solid fa-shield-halved p-2"
  ></i></i>Administration
  </a>
</div>
