{%extends 'base.html'%}
{% load static%}
<hr />
{% block title%} | {{title}} {% endblock title%}
<hr />
{% block mainContent%}

<nav style="--bs-breadcrumb-divider: ' |';" aria-label="breadcrumb">
  <ol class="breadcrumb p-2 bg-primary-subtle "> 
    <li class="breadcrumb-item text-primary"><a href="{%url 'users' %}">User Management  </a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
</nav>

<div class="card m-2 mt-3 ">
  <div class="card-header d-flex justify-content-between"> <b>{{header}} </b>    

    <b class="text-{{message.type}}"><i class="fa-solid {% if message.type == error  %} fa-triangle-exclamation {%else%} fa-regular fa-circle-check  {%endif%} px-2 "></i> {{message.msg}}</b>
  </div>
  <div class="card-body py-0 px-"> 
    <p class="card-text">
        <div class="row ">
          <div class=" d-none d-md-inline-flex  col-md-6 pt-4  justify-content-center ">
            <div class="row ">
              <div class="col-12 d-flex justify-content-center pb-0 mb-0">
                <img   src="{% static 'addBook.png'%}"  alt="Logo" width="300" height="300">
              </div>
              <div class="col-12 text-center px-5 ">
                <h3>{{header}}</h3>
                <hr>
                {{description}}

              </div>
            </div>
    

    
            </div>

              <div class=" border ps-5  border-2  border-top-0 border-bottom-0 border-end-0  col-12 col-md-6 col-lg-6">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %} 
                  {% for field in profile_form%}
                      <span class="d-flex justify-content-between">
                        <p class="text-secondary p-0 m-0">
                          {{field.label}} 
                        </p>                      
                      
                          <span class="text-danger">
                              
                              {% for error in field.errors %}
                              {% if forloop.first %}
                              <!-- Code to execute only during the first iteration -->
                              <i class="fa-solid fa-triangle-exclamation pe-2"></i>
                              {% endif %}
                              
                              
                              {{ error }} 

                            
                              {% endfor %}
                            </span>
                          </span>
                          {{ field }}
                        

                {%endfor%}
                
                <div class="form-check form-switch pt-3 ">
                  <input value="edited" name = 'edit_toggle' onclick="toggle()" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Edit Credential</label>
                </div>
                  
                  {% for field in user_form%} 
                  <span class="d-flex justify-content-between">
                    <p class="text-secondary p-0 m-0">
                      {{field.label}} 
                    </p>                      
                  
                      <span class="text-danger">
                          
                          {% for error in field.errors %}
                          {% if forloop.first %}
                          <!-- Code to execute only during the first iteration -->
                          <i class="fa-solid fa-triangle-exclamation pe-2"></i>
                          {% endif %}
                          
                          
                          {{ error }} 
                          {% endfor %}

                  
                         
                      </span>
                  </span>
               

                  <input disabled value="{{field.value}}" class=" form-control userfield" type="{{ field.field.widget.input_type }}" autocomplete="{{ field.field.widget.attrs.autocomplete }}"   required = '{{ field.field.required }}'  name="{{ field.name }}" id="{{field.id_for_label}} " >
                  {%endfor%}

                 
              
              
                  <div class=" input-group mt-2">
                    
                  <input class="btn m-0 btn-outline-primary border-1 rounded-0 form-control" type="submit" value="{{submitBtn}}" />
                  <a class="btn btn-outline-secondary rounded-0 " href="{% url 'users'%}">cancel</a>
                  </div>
                </form> 
              </div>
              
              
          </div>
         </p>

         
  </div>
</div>
<script>
function toggle(){
  const user_field = document.getElementsByClassName('userfield'); 
  for(var i = 0;i<user_field.length;i++){
    user_field[i].disabled = !user_field[i].disabled
  }

}
</script>


{% endblock mainContent%}
